In [ ]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier
import xgboost as xgb

In [ ]:
input_data = pd.read_csv("train.csv", index_col="ID")
input_data.head()

In [3]:
test_samples = pd.read_csv("test.csv", index_col="ID")
test_samples.head()

,age,sex,chest,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electrocardiographic_results,maximum_heart_rate_achieved,exercise_induced_angina,oldpeak,slope,number_of_major_vessels,thal
ID,,,,,,,,,,,,,
600000,53.963191,1,4.000000,136.940829,236.862814,0,2,143.961525,1,0.711100,1,2,7
600001,49.621479,1,4.000000,122.024651,226.593019,0,2,112.220874,1,0.000000,1,1,7
600002,36.933893,1,1.300924,127.585643,351.061046,0,0,177.945922,0,0.313078,1,0,7
600003,54.884588,1,3.000000,124.876745,250.370530,0,0,153.176526,0,0.308277,1,1,7
600004,71.016392,0,1.746972,120.922600,210.979710,0,0,164.573122,0,1.021370,1,1,3

In [4]:
input_features = input_data.iloc[:,:-1].values
input_classes = input_data.iloc[:,-1].values

(train_samples, val_samples, train_classes, val_classes) = \
train_test_split(input_features, input_classes, test_size=0.2, stratify=input_classes, random_state=0)

In [10]:
def predict_accuracy(model):
    #print(model.best_params_, model.best_score_)
    predict_classes = model.predict(val_samples)
    print("Accuracy : %0.4f" % accuracy_score(val_classes, predict_classes))

In [ ]:
grid_parameters = {'n_estimators':range(130,150,10)}
grid_xgb = GridSearchCV(xgb.XGBClassifier(),  grid_parameters, cv=3, n_jobs=-1)
grid_xgb.fit(train_samples, train_classes)

In [6]:
xgb_tree = xgb.XGBClassifier(n_estimators=130, subsample=0.5)
xgb_tree.fit(train_samples, train_classes)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=130, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=0.5)

In [11]:
predict_accuracy(xgb_tree)

Accuracy : 0.9007